[submodule ".dotbot"]
	path = .dotbot
	ignore = dirty
	url = https://github.com/anishathalye/dotbot
[submodule "vim/colors/base16"]
	path = vim/colors/base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "zsh/z"]
	path = zsh/z
	url = https://github.com/rupa/z.git
[submodule "zprezto"]
	path = zprezto
  url = https://github.com/sorin-ionescu/prezto.git
  ignore = dirty
